#aboutTwo {
    padding-left: 15%;
    padding-right: 25%;
    padding-bottom: 10%;
    min-width: 60vh;
}

.aboutTwo-content {
    display: flex;
    flex-direction: row;
}

.aboutTwo-desc {
    color: var(--light-grey);
    max-width: 800px;
    font-size: 22px;
    text-align: justify;
    margin: 0;
}

a {
    text-decoration: none !important;
    color: var(--light-green) !important; 
}

.text-decoration {
    font-weight: bold;
    font-size: 21px; 
}

.text-decoration:hover {
  color: var(--light-grey);
}

b {
    font-weight: bold;
    font-size: 22px;
    color: var(--light-green); 
}

.aboutTwo-desc ul {
    padding-top: 17px;
    margin-left: -40px;
    list-style-type: none;
    display: grid;
  }

.aboutTwo-desc li {
    position: relative;
    font-size: 0x;
    color: var(--light-grey);
    padding-top: 13px;
  }

  .aboutTwo-desc li::before {
    content: "▹   ";
    position: relative;
    color: var(--light-green);
    left: 0;
  }


  @media only screen and (max-width: 600px) {
    #aboutTwo {
      height: unset;
      padding-left: unset !important;
      padding-right: 50% !important;
      padding-top: 5%;
      align-items: center !important;
    }
  
    .aboutTwo-content {
        display: unset !important;
      }

    .aboutTwo-desc {
      font-size: 18px;
      text-align: justify;
    }

    .text-decoration {
        font-weight: bold;
        font-size: 18px; 
    }

    .p-tag {
        width: 65%;
    }

  
  }